@media screen and (max-width: 480px) {

    .search-box{
        justify-content: space-around;
    }

    .search-box input{
        max-width: 70%;
    }

    .weather-icon{
        width: 130px;
        margin-top: 20px;
    }

    .weather h1{
    font-size: 40px;
    }

    .col img{
        width: 30px;
        margin-right: 10px;
    }

    .col div{
        margin-right: 10px;
    }

    .humidity , .wind{
        font-size: 15px;
        margin-top: -6px;
    }

}
